{
  "title": {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "title"
  },
  "charset" : {
    "valueLocatorType" : "first_attribute",
    "tagIdentifierTagName" : "meta",
    "tagIdentifierAttributeName": "charset"
  },
  "content": [
    {
      "valueLocatorType" : "tag_identified_by_attribute",
      "tagIdentifierTagName": "div",
      "tagIdentifierAttributeName": "class",
      "tagIdentifierAttributeValue": "content details-content-story"
    }
  ],
  "keywords": [
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "keywords",
      "valueAttributeName" : "content"
    },
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "news_keywords",
      "valueAttributeName" : "content"
    }
  ],
  "h1":
  {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "h1"
  },
  "description": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "description",
    "valueAttributeName" : "content"
  },
  "publishDate": {
    "valueLocatorType" : "first_attribute",
    "tagIdentifierTagName" : "span",
    "tagIdentifierAttributeName": "data-datestring"
  },
  "author": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "author",
    "valueAttributeName" : "content"
  }
}