{
  "title": {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "title"
  },
  "charset" : {
    "valueLocatorType" : "first_attribute",
    "tagIdentifierTagName" : "meta",
    "tagIdentifierAttributeName": "charset"

  },
  "section" : {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName" : "div",
    "tagIdentifierAttributeName": "class",
    "tagIdentifierAttributeValue": "breadcrumb MT30"
  },
  "content": [
    {
      "valueLocatorType" : "tag_identified_by_attribute",
      "tagIdentifierTagName": "article",
      "tagIdentifierAttributeName": "class",
      "tagIdentifierAttributeValue": "txtsection"
    }
  ],
  "keywords": [
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "keywords",
      "valueAttributeName" : "content"
    },
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "news_keywords",
      "valueAttributeName" : "content"
    }
  ],
  "h1":
  {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName": "h1",
    "tagIdentifierAttributeName": "id",
    "tagIdentifierAttributeValue": "headline"
  },
  "h2":
  {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName": "h2",
    "tagIdentifierAttributeName": "class",
    "tagIdentifierAttributeValue": "synopsis"
  },
  "description": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "description",
    "valueAttributeName" : "content"
  },
  "publishDate": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "span",
    "tagIdentifierAttributeName": "itemprop",
    "tagIdentifierAttributeValue": "dateModified",
    "valueAttributeName" : "content"
  },
  "modifiedDate": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "span",
    "tagIdentifierAttributeName": "itemprop",
    "tagIdentifierAttributeValue": "dateModified",
    "valueAttributeName" : "content"
  },
  "creationDate": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "span",
    "tagIdentifierAttributeName": "itemprop",
    "tagIdentifierAttributeValue": "dateModified",
    "valueAttributeName" : "content"
  },
  "author": {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName": "a",
    "tagIdentifierAttributeName": "rel",
    "tagIdentifierAttributeValue": "author"
  }
}