{
  "title": {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "title"
  },
  "charset" : {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName" : "meta",
    "tagIdentifierAttributeName": "http-equiv",
    "tagIdentifierAttributeValue":"Content-Type",
    "valueAttributeName" : "content"
  },
  "section" : {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName" : "h2",
    "tagIdentifierAttributeName": "class",
    "tagIdentifierAttributeValue": "section_name"
  },
  "content": [
    {
      "valueLocatorType" : "tag_identified_by_attribute",
      "tagIdentifierTagName": "div",
      "tagIdentifierAttributeName": "class",
      "tagIdentifierAttributeValue": "section1"
    },
    {
      "valueLocatorType" : "tag_identified_by_attribute",
      "tagIdentifierTagName": "div",
      "tagIdentifierAttributeName": "itemprop",
      "tagIdentifierAttributeValue": "articleBody"
    }
  ],
  "keywords": [
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "keywords",
      "valueAttributeName" : "content"
    },
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "news_keywords",
      "valueAttributeName" : "content"
    }
  ],
  "h1":
  {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "h1"
  },
  "h2":
  {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "h2"
  },
  "description": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "description",
    "valueAttributeName" : "content"
  },
  "publishDate": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "property",
    "tagIdentifierAttributeValue": "article:published_time",
    "valueAttributeName" : "content"
  },
  "modifiedDate": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "property",
    "tagIdentifierAttributeValue": "article:modified_time",
    "valueAttributeName" : "content"
  },
  "creationDate": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "property",
    "tagIdentifierAttributeValue": "article:published_time",
    "valueAttributeName" : "content"
  },
  "author": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "property",
    "tagIdentifierAttributeValue": "article:author",
    "valueAttributeName" : "content"
  }
}