{
  "title": {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "title"
  },
  "charset" : {
    "valueLocatorType" : "first_attribute",
    "tagIdentifierTagName" : "meta",
    "tagIdentifierAttributeName": "charset"

  },
  "section" : {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName" : "ol",
    "tagIdentifierAttributeName": "id",
    "tagIdentifierAttributeValue": "bred-*"
  },
  "content": [
    {
      "valueLocatorType" : "tag_identified_by_attribute",
      "tagIdentifierTagName": "div",
      "tagIdentifierAttributeName": "class",
      "tagIdentifierAttributeValue": "field field-name-body field-type-text-with-summary field-label-hidden"
    }
  ],
  "keywords": [
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "keywords",
      "valueAttributeName" : "content"
    },
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "news_keywords",
      "valueAttributeName" : "content"
    }
  ],
  "h1":
  {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "h1"
  },
  "h2":
  {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "description",
    "valueAttributeName" : "content"
  },
  "description": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "description",
    "valueAttributeName" : "content"
  },
  "publishDate": {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName": "div",
    "tagIdentifierAttributeName": "class",
    "tagIdentifierAttributeValue": "time_details"
  },
  "modifiedDate": {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName": "div",
    "tagIdentifierAttributeName": "class",
    "tagIdentifierAttributeValue": "time_details"
  },
  "creationDate": {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName": "div",
    "tagIdentifierAttributeName": "class",
    "tagIdentifierAttributeValue": "time_details"
  },
  "author": {
    "valueLocatorType" : "tag_identified_by_attribute",
    "tagIdentifierTagName": "div",
    "tagIdentifierAttributeName": "class",
    "tagIdentifierAttributeValue": "author_details"
  }
}