{
  "title": {
    "tagIdentifierTagName": "title"
  },
  "section" : {
    "tagIdentifierTagName" : "meta",
    "tagIdentifierAttributeName": "article:section",
    "valueAttributeName" : "content"
  },
  "charset" : {
    "tagIdentifierTagName" : "meta",
    "tagIdentifierAttributeName": "id",
    "valueAttributeName" : "charset"
  },
  "content": [
    {
      "tagIdentifierTagName": "div",
      "tagIdentifierAttributeName": "id",
      "tagIdentifierAttributeValue": "content-body-*"
    }
  ],
  "keywords": [
    {
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "keywords",
      "valueAttributeName" : "content"
    },
    {
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "news_keywords",
      "valueAttributeName" : "content"
    }
  ],
  "h1": [
    {
      "tagIdentifierTagName": "h1",
      "tagIdentifierAttributeName": "tagClass",
      "tagIdentifierAttributeValue": "title"
    }
  ],
  "h2": [
    {
      "tagIdentifierTagName": "h2",
      "tagIdentifierAttributeName": "tagClass",
      "tagIdentifierAttributeValue": "intro"
    }
  ],
  "description": {
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "description",
    "valueAttributeName" : "content"
  },

  "publishDate": {
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "publish-date",
    "valueAttributeName" : "content"
  },
  "modifiedDate": {
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "modified-date",
    "valueAttributeName" : "content"
  },
  "creationDate": {
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "modified-date",
    "valueAttributeName" : "created-date"
  },
  "author": {
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "property",
    "tagIdentifierAttributeValue": "article:author",
    "valueAttributeName" : "content"
  }
}