{
  "title": {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "title"

  },
  "section" : {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName" : "meta",
    "tagIdentifierAttributeName": "property",
    "tagIdentifierAttributeValue":"article:section",
    "valueAttributeName" : "content"

  },
  "charset" : {
    "valueLocatorType" : "first_attribute",
    "tagIdentifierTagName" : "meta",
    "tagIdentifierAttributeName": "charset"

  },
  "content": [
    {
      "valueLocatorType" : "tag_identified_by_attribute",
      "tagIdentifierTagName": "div",
      "tagIdentifierAttributeName": "id",
      "tagIdentifierAttributeValue": "content-body-*"

    }
  ],
  "keywords": [
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "keywords",
      "valueAttributeName" : "content"

    },
    {
      "valueLocatorType" : "second_attribute",
      "tagIdentifierTagName": "meta",
      "tagIdentifierAttributeName": "name",
      "tagIdentifierAttributeValue": "news_keywords",
      "valueAttributeName" : "content"

    }
  ],
  "h1":
  {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "h1"

  },
  "h2":
  {
    "valueLocatorType" : "tag",
    "tagIdentifierTagName": "h2"

  },
  "description": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "description",
    "valueAttributeName" : "content"

  },

  "publishDate": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "publish-date",
    "valueAttributeName" : "content"

  },
  "modifiedDate": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "modified-date",
    "valueAttributeName" : "content"

  },
  "creationDate": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "name",
    "tagIdentifierAttributeValue": "created-date",
    "valueAttributeName" : "content"

  },
  "author": {
    "valueLocatorType" : "second_attribute",
    "tagIdentifierTagName": "meta",
    "tagIdentifierAttributeName": "property",
    "tagIdentifierAttributeValue": "article:author",
    "valueAttributeName" : "content"
  }
}