{
  "newsAgencyName": "The Hindu",
  "title": {
    "tagName": "title"
  },
  "content": [
    {
      "tagName": "div",
      "attribute": "id",
      "value": "content-body-*"
    }
  ],
  "keywords": [
    {
      "tagName": "meta",
      "attribute": "name",
      "value": "news_keywords"
    },
    {
      "tagName": "meta",
      "attribute": "name",
      "value": "news_keywords"
    }
  ],
  "h1": [
    {
      "tagName": "h1",
      "attribute": "tagClass",
      "value": "title"
    }
  ],
  "h2": [
    {
      "tagName": "h2",
      "attribute": "tagClass",
      "value": "intro"
    }
  ],

  "description": {
    "tagName": "meta",
    "attribute": "name",
    "value": "description"
  },

  "publishDate": {
    "tagName": "meta",
    "attribute": "name",
    "value": "publish-date"
  },
  "modifiedDate": {
    "tagName": "meta",
    "attribute": "name",
    "value": "modified-date"
  },
  "creationDate": {
    "tagName": "meta",
    "attribute": "name",
    "value": "created-date"
  },
  "author": {
    "tagName": "a",
    "attribute": "class",
    "value": "auth-nm lnk"
  }
}